*   {background-color: aquamarine;
}

h1{
    text-align: center;
    font-size: 5rem;
}
.r-list{text-align: center;}
.container{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color:red;
font-size: 20rem;}
h3{text-align: center;
color:red;}
#cookies1, #risotto1, #fruity1{font-size: 4rem;
color: black;}
h4>ul>li{text-align: center;}